.card-container {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .mat-card {
        padding: 3em;
        border-radius: 12px;
        width: 25em;
        // backdrop-filter: blur(10px) saturate(182%);
        // -webkit-backdrop-filter: blur(10px) saturate(182%);
        // background-color: rgba(48, 48, 48, 0.67);
        // border: 1px solid rgba(209, 213, 219, 0.3);

        form {
            display: grid;

            .mat-form-field {
                margin-bottom: .5em;
            }

        }
    }
}


